* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    gap: 20px;
    height: 150px;
}

.header-nav {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 40px;
    flex: 1;
}

.container-principal {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: rgb(236, 233, 233);
}

.container-page {
    display: flex;
    gap: 40px;
    padding: 60px;
}

.container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    gap: 20px;
}

.container-cita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 80px;
}

.container-final {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.final-1 {
    display: flex;
    padding: 50px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    gap: 20px;
}

.btn-final {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 0 20px 0 20px;
    border: 2px solid #E5E7EB;
}

.cita-a {
    color: #1F2937;
    font-size: 20px;
    font-weight: 300;
}

.header, 
.container-page, 
.footer {
    background-color: #1F2937;
}

.parte-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 400px;
}

.parte-2 {
    display: flex;
    padding-right: 400px; 
}

.img-logo {
    border-radius: 100%;
    width: 80px;
    height: auto;
}

.img-page {
    width: 700px;
    height: 340px;
    border-radius: 20px;
}

.imagen {
    width: 170px;
    height: 200px;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 0 0 2px 2px #3882F6;
}

.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.img-perro {
    text-align: center;
}

.text-h5 {
    color: rgb(120, 119, 119);
}

.awesome {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

.lorem {
    font-size: 18px;
    color: #E5E7EB;
}

.btn-sign {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    padding: 0 30px 0 30px;
}

.h2-2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(236, 233, 233);
}
